
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #F5F7FF;
    color: #1C1C1C;
}

img {
    width: 100%;
    display: block;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}

input {
    border: none;
    outline: none;
    font-family: inherit;
    background: transparent;
}

a {
    text-decoration: none;
}

/* =========================
   VARIABLES
========================= */

:root {

    /* PRIMARY */
    --primary-main: #003BCE;
    --primary-dark: #020B5A;
    --primary-light: #2D7DFF;

    /* NEUTRAL */
    --neutral-main: #1C1C1C;
    --neutral-secondary: #64748B;
    --neutral-light: #F5F7FF;
    --neutral-border: #E2E8F0;
    --neutral-bg: #F5F7FF;

    /* FEEDBACK */
    --success: #19C37D;
    --error: #F94144;
    --warning: #F59E0B;

}

/* =========================
   TYPOGRAPHY
========================= */

h1 {
    font-size: 54px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

small {
    font-size: 14px;
    line-height: 20px;
}

/* =========================
   GLOBAL
========================= */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.btn-primary {
    background: var(--primary-main);
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}

.btn-primary:hover {
    background: var(--primary-dark);
}

.large {
    width: 360px;
}

/* =========================
   HEADER
========================= */

.header {
    width: 100%;
    background: white;
    border-bottom: 1px solid var(--neutral-border);
}

.header-content {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.logo img {
    width: 73px;
}

.search-bar {
    width: 420px;
    height: 44px;
    border: 1px solid var(--neutral-border);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px;
    background: white;
}

.search-bar i {
    color: var(--neutral-secondary);
}

.search-bar input {
    width: 100%;
}

/* Container */
.nav-auth-container {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: -8px;
}

/* Botão */
#btnEntrar {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-auth-container:hover #btnEntrar {
    transform: translateY(-2px);
}

/* Dropdown */
.login-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;

    width: 220px;

    background-color: #0045c4;
    border-radius: 8px;
    overflow: hidden;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 9999;

    /* Estado inicial */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);

    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s ease;
}

/* Mostrar menu */
.nav-auth-container:hover .login-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Itens */
.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 16px;

    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;

    opacity: 0;
    transform: translateX(-10px);

    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        background-color 0.2s ease;
}

/* Animação dos itens */
.nav-auth-container:hover .dropdown-item {
    opacity: 1;
    transform: translateX(0);
}

.nav-auth-container:hover .dropdown-item:nth-child(1) {
    transition-delay: 0.05s;
}

.nav-auth-container:hover .dropdown-item:nth-child(2) {
    transition-delay: 0.1s;
}

/* Separador */
.dropdown-item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* Hover */
.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* Ícones */
.dropdown-item i {
    width: 18px;
    height: 18px;
}

/* =========================
   HERO
========================= */

.hero {
    position: relative;
    min-height: 720px;

    background-image: url('multimidia/logo_empresas/Container.png');
    background-size: cover;
    background-position: center;

    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    inset: 0;

    background: linear-gradient(
        90deg,
        rgba(0, 59, 206, 0.92),
        rgba(2, 11, 90, 0.50)
    );
}
.input-group img {
    width: 26px;
    height: 26px;
}

.hero-content {
    position: relative;
    z-index: 2;

    min-height: 720px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.hero-text p {
    margin-top: 12px;
}

.hero-card {
    width: 100%;
    max-width: 520px;
    background: white;
    padding: 18px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.18);
}

.input-group {
    width: 100%;
    height: 58px;
    border: 1px solid var(--neutral-border);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px;
}

.input-group i {
    color: var(--primary-main);
}

.input-group input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    min-width: 0;
}

.btn-search {
    width:100%;
    height: 54px;
    border-radius: 10px;
    background: var(--primary-main);
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: background 0.2s ease-in-out, 
                transform 0.2s ease-in-out, 
                box-shadow 0.2s ease-in-out;
    cursor:pointer;
}

.btn-search a {
    color: #fff;  
}


.btn-search:hover {
    background: #002bb0; /* Tom de azul ligeiramente mais escuro (ajuste se necessário) */
    transform: translateY(-2px); /* Eleva o botão suavemente */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15); /* Aumenta a profundidade da sombra */
}

/* =========================
   BENEFITS
========================= */

.benefits{
    width:100%;
    background:#F5F5F5;
    padding:55px 0;
}

.benefits-grid{
    max-width:1200px;
    margin:0 auto;

    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:40px;
}

.benefit-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.benefit-card img{
    width:48px;
    height:48px;
    margin-bottom:20px;
}

.benefit-card h3{
    font-size:25px;
    font-weight:700;
    color:#222222;
    margin-bottom:12px;
    line-height:1.2;
}

.benefit-card p{
    max-width:260px;
    font-size:18px;
    font-weight:400;
    line-height:1.6;

    color:#6B7280;
}

/* =========================
   COMPANIES
========================= */

.companies{
    width:100%;
    background:#F5F6FA;
    padding:90px 0;
}

.section-title{
    text-align:center;
    margin-bottom:90px;
}

.section-title h2{
    font-size: 54px;
    font-weight:700;
    color:#1F1F1F;
    margin-bottom:18px;
}

.section-title p{
    font-size:24px;
    color:#6B7280;
    line-height:1.5;
}

.companies-content{
    max-width:1200px;
    margin:0 auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:90px;
}

.companies-text h3{
    font-size:52px;
    font-weight:700;
    line-height:1.1;
    color:#1F1F1F;
    max-width: 620px;
    margin-bottom: 22px;
}

.companies-text::after{
    content:'';
    display:block;
    width:170px;
    height:3px;
    background:#2563EB;
    margin-bottom:28px;
}

.companies-text p{
    font-size:18px;
    line-height:2;
    color:#5F6673;
    max-width:560px;
    margin-bottom:40px;
}

.companies-list{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.list-item{
    display:flex;
    align-items:flex-start;
    gap:18px;
}

.list-item img{
    height: 34px;
    width: 34px;
}

.list-item i{
    color:#2563EB;
    width:28px;
    height:28px;
    min-width:28px;
    margin-top:2px;
}

.list-item p{
    font-size:18px;
    line-height:1.5;
    color:#4B5563;
}

.companies-image{
    display:flex;
    justify-content:center;
}

.companies-image img{
    width:100%;
    max-width:470px;
    height:520px;
    object-fit:cover;
    border-radius:18px;
    box-shadow:0 15px 35px rgba(0,0,0,0.12);
}

.center-button{
    display:flex;
    justify-content:center;
    margin-top:70px;
}

.center-button a{
    color: #fff;
}

.center-button button{
    width:520px;
    height:64px;
    border:none;
    border-radius:8px;
    background:#1747D8;
    color:white;
    font-size:22px;
    font-weight:700;
    cursor:pointer;
    transition:0.3s;
}

.center-button button:hover{
    transform:translateY(-2px);
}

/* =========================
   STATS
========================= */

.stats{
    width:100%;
    background:#F5F6FA;
    padding:80px 0;
}

.stats-content{
    max-width:1200px;
    margin:0 auto 80px auto;

    display:grid;
    grid-template-columns:420px 1fr;
    gap:70px;
    align-items:center;
}

.companies-image{
    overflow:hidden;
    border-radius:16px;
}

.companies-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:16px;
    display:block;
}

.companies-text h3{
    font-size:48px;
    font-weight:700;
    line-height:1.1;

    color:#222;
    margin-bottom:20px;
}

.companies-text::after{
    content:'';

    display:block;

    width:170px;
    height:3px;

    background:#1D4ED8;

    margin-bottom:25px;
}

.companies-text p{
    color:#5F6673;

    font-size:18px;
    line-height:2;

    margin-bottom:35px;
}

.companies-list{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.list-item{
    display:flex;
    align-items:flex-start;
    gap:16px;
}

.list-item img{
    width:24px;
    min-width:24px;
    margin-top:2px;
}

.list-item p{
    color:#4B5563;

    font-size:17px;
    line-height:1.5;
}

.stats-grid{
    max-width:1000px;
    margin:0 auto;

    display:grid;
    grid-template-columns:repeat(3, 1fr);

    gap:40px;
}

.stat-card{
    text-align:center;
}

.stat-card h3{
    color:#1747D8;

    font-size:34px;
    font-weight:700;

    margin-bottom:10px;
}

.stat-card p{
    color:#6B7280;

    font-size:18px;
    line-height:1.4;
}

/* =========================
   CTA
========================= */

.cta {
    padding-bottom: 100px;
}

.cta-box {
    background: linear-gradient(
        90deg,
        var(--primary-main),
        var(--primary-light)
    );
    padding: 48px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.cta-box p {
    margin: 16px 0 28px;
}

.cta-box h3 {
    font-size: 27px;
}

.btn-white{
    width:100%;
    height:52px;
    font-size:20px;
    border-radius:8px;
    border:none;
    background:white;
    color:var(--primary-main);
    font-weight:700;
    margin-bottom:14px;
    cursor:pointer;
    transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}

.btn-white:hover{
    transform:translateY(1px);
}

.btn-white a{
    color: #000;
}

.btn-outline{
    width:100%;
    height:52px;
    font-size:15px;
    border-radius:8px;
    border:1px solid white;
    background:transparent;
    color:white;
    font-weight:700;
    cursor:pointer;
    transition:
    transform 0.3s ease,
    background 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;
}

.btn-outline:hover{
    color: #fff;
    transform:translateY(1px);
}





