* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #eef0f6;
  overflow: hidden;
}

/* ZOOM 75% */
.page-scale {
  transform: scale(0.75);
  transform-origin: top left;

  width: 133.33%;
  min-height: 133.33vh;
}

/* CARDS */
.cards-container {
  display: flex;
  gap: 68px;

  padding-top: 40px;
  padding-left: 84px;
}

.candidate-card {
  width: 555px;
  height: 136px;

  background: #ffffff;

  border-radius: 24px;

  border: 1px solid #e3e7ef;

  box-shadow:
    0 2px 3px rgba(0,0,0,0.06),
    0 5px 14px rgba(0,0,0,0.04);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 28px;
}

.candidate-left {
  display: flex;
  align-items: center;
}

.candidate-left img {
  width: 76px;
  height: 76px;

  border-radius: 50%;
  object-fit: cover;

  border: 5px solid #f2f4f8;
}

.candidate-info {
  margin-left: 24px;
}

.candidate-info h2 {
  font-size: 22px;
  font-weight: 700;

  color: #202226;

  margin-bottom: 8px;
}

.candidate-role {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 16px;
  font-weight: 500;

  color: #8792a5;
}

.dot {
  width: 7px;
  height: 7px;

  border-radius: 50%;

  background: #d4d9e3;
}

.match {
  color: #1448ff;
  font-weight: 700;
}

.menu-btn {
  border: none;
  background: transparent;

  font-size: 34px;
  color: #6d7788;

  cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}

