* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #eef0f6;
  overflow: hidden;
}

/* ZOOM 75% */
.page-scale {
  transform: scale(0.75);
  transform-origin: top left;

  width: 133.33%;
  height: 133.33vh;
}

/* EMPTY STATE */
.empty-state {
  width: 100%;
  height: calc(100vh - 180px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -120px;
}

/* ICON */
.empty-icon {
  position: relative;

  width: 170px;
  height: 140px;

  margin-bottom: 28px;
}

.main-head {
  position: absolute;

  width: 62px;
  height: 62px;

  border: 12px solid #62718a;
  border-radius: 50%;

  left: 40px;
  top: 0;
}

.main-body {
  position: absolute;

  width: 92px;
  height: 52px;

  border: 12px solid #62718a;
  border-top: none;

  border-radius: 0 0 28px 28px;

  left: 24px;
  top: 72px;
}

.secondary-head {
  position: absolute;

  width: 42px;
  height: 42px;

  border: 10px solid #62718a;

  border-left-color: transparent;
  border-bottom-color: transparent;

  border-radius: 50%;

  left: 108px;
  top: 8px;
}

.secondary-body {
  position: absolute;

  width: 44px;
  height: 42px;

  border: 10px solid #62718a;

  border-left-color: transparent;
  border-top-color: transparent;

  border-radius: 0 28px 28px 0;

  left: 122px;
  top: 78px;
}

/* TEXT */
.empty-content h2 {
  font-size: 22px;
  font-weight: 600;

  color: #5d6d86;
}
a {
    text-decoration: none;
    color: inherit;
}