*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Inter", sans-serif;
}

body{
  width:100%;
  min-height:100vh;
  background:#0D47FF;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  position: relative;
}

.success-container{
  width:100%;
  max-width:700px;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  text-align:center;

  padding:40px 24px;
}

/* ÍCONE */
.success-icon{
  width:160px;
  height:160px;

  border-radius:50%;
  background:#fff;

  display:flex;
  align-items:center;
  justify-content:center;

  margin-bottom:42px;

  box-shadow:
    0 20px 60px rgba(0,0,0,.18);
}

.success-icon .circle{
  width:74px;
  height:74px;

  border-radius:50%;
  border:6px solid #0D47FF;

  display:flex;
  align-items:center;
  justify-content:center;
}

.success-icon i{
  color:#0D47FF;
  font-size:34px;
  font-weight:900;
}

/* TÍTULO */
h1{
  color:#fff;
  font-size:64px;
  font-weight:800;

  margin-bottom:20px;

  line-height:1.1;
}

/* TEXTO */
p{
  color:rgba(255,255,255,.78);

  font-size:30px;
  line-height:1.7;

  max-width:900px;

  margin-bottom:120px;

  font-weight:400;
}

/* BOTÃO */
.btn{
  width:420px;
  height:74px;

  border:none;
  border-radius:18px;

  background:#fff;
  color:#0D47FF;

  font-size:28px;
  font-weight:700;

  cursor:pointer;

  transition:.25s;
}

.btn:hover{
  transform:translateY(-3px);
  opacity:.95;
}

a {
    text-decoration: none;
    color: inherit;
}

