/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    width: 100%;
    height: 120px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;

    border-bottom: 1px solid #d9d9d9;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-left:20px;
    width: 100px;
    display: block;
}

/* CONTAINER DO COMPONENTE */
.profile_user {
    position: relative;
    display: flex;
    align-items: center;
}

/* ESCONDE O CHECKBOX */
input[type="checkbox"].menu-checkbox {
    display: none !important;
}

/* BOTÃO DO AVATAR */
.menu-trigger {
    width: 58px;
    height: 58px;

    border-radius: 50%;
    overflow: hidden;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;

    background-color: #dfe4ee;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    transition: transform 0.2s ease;
}

.menu-trigger:hover {
    transform: scale(1.05);
}

.menu-trigger img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* POPUP */
.dropdown-menu-box {
    position: absolute;
    top: 55px;
    right: 0;

    width: 280px;

    background: white;
    border-radius: 16px;

    box-shadow:
        0px 8px 24px rgba(0, 0, 0, 0.08),
        0px 2px 6px rgba(0, 0, 0, 0.04);

    padding: 16px 0;

    z-index: 2000;

    display: none;
    opacity: 0;
    transform: translateY(-10px);

    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
        margin-top : 10px;
}

/* MOSTRA O MENU */
.menu-checkbox:checked ~ .dropdown-menu-box {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* TOPO DO MENU */
.user-header-info {
    padding: 4px 20px 12px 20px;

    display: flex;
    flex-direction: column;

    gap: 2px;
}

.user-name {
    font-size: 15px;
    font-weight: 700;
    color: #1f1f1f;
}

.user-email {
    font-size: 13px;
    font-weight: 400;
    color: #7f8a9b;
}

/* DIVISÓRIAS */
.menu-divider {
    border: none;
    border-bottom: 1px solid #e4e7ef;
    margin: 8px 0;
}

/* LINKS */
.menu-item-link {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px 20px;

    font-size: 14px;
    font-weight: 600;

    color: #1f1f1f;
    text-decoration: none;

    transition: background-color 0.2s ease;
}

.menu-item-link:hover {
    background-color: #f6f6f7;
}

/* ÍCONES */
.menu-icon {
    font-size: 16px;
    color: #68758b;

    width: 24px;
    text-align: center;
}

/* LOGOUT */
.menu-item-link.logout-action {
    color: #ff3b30;
}

.menu-item-link.logout-action .menu-icon {
    color: #ff3b30;
}