

/* --------------------------------------------------------------- NAVBAR --------------------------------------------------------------- */

nav{
    width: 100%;
    height: 70px;
    background: #2D7DFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 4px solid #d9d9d9;
    border-radius: 0 0 50px 50px;
}

/* --------------------------------------------------------------- MENU --------------------------------------------------------------- */

.menu{
    cursor: pointer;
}

.menu img{
    width: 50px;
}

/* --------------------------------------------------------------- PESQUISA --------------------------------------------------------------- */

.pesquisa{
    width: 45%;
    height: 38px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.pesquisa input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 10px;
}

/* --------------------------------------------------------------- ÍCONE LUPA --------------------------------------------------------------- */

.icon-pesquisa img{
    width: 30px;
}


/* --------------------------------------------------------------- USUÁRIO --------------------------------------------------------------- */

.usu-area{
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.avatar{
    width: 45px;
    height: 45px;
    background: #e5e5e5;
    border-radius: 50%;
}